body{
    font-family:'Times New Roman', Times, serif;
}
site-heading-lower{
    font-family:'Times New Roman', Times, serif;
}
.mb-3{
    font-family: 'Times New Roman', Times, serif;
    color: aqua !important;

}